<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>


    <h1>Your Notifications</h1>
    {% for notification in notifications %}
        <p>
            {{ notification.message }} ({{ notification.created_at|date:"Y-m-d H:i" }})
            {% if not notification.is_read %}

                <a href="{% url 'notifications:mark_notification_read' notification.id %}">Mark as Read</a>

            {% endif %}
        </p>
    {% empty %}
        <p>No notifications.</p>
    {% endfor %}


    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>

    <script>
        $(".mark-as-read").click(function(event) {
            event.preventDefault();
            var notificationId = $(this).data("id");
            var linkElement = $(this);

            $.ajax({
                url: "{% url 'notifications:mark_notification_read' 0 %}".replace("0", notificationId),
                type: "GET",
                success: function(response) {
                    linkElement.parent().remove();  
                    if (response.unread_notifications == 0) {
                        $(".notification-icon").html("Notifications");  
                    } else {
                        $(".notification-icon .badge").text(response.unread_notifications);
                    }
                }
            });
        });
    </script>

</body>
</html>
