.welcome-section {
    background-color: darkgray;
    padding: 20px;
    color: white;
}
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.message-icon img {
    width: 30px;
    height: 30px;
}
.badge {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.75em;
}
.analytics-section {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
