{% extends "base_tenant.html" %}
{% load static %}

{% block title %}Track My Inventory - SaaS Inventory Management{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Welcome to Track My Inventory</h1>
            <p class="lead">The complete inventory management solution for your business</p>
            
            <div class="mt-5">
                <a href="/tenant_manager/login/" class="btn btn-primary btn-lg mx-2">Login</a>
                <a href="/tenant_manager/register/" class="btn btn-outline-primary btn-lg mx-2">Register</a>
            </div>
            
            <div class="mt-5">
                <h2>Features</h2>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <i class="bi bi-box fs-1"></i>
                        <h4>Inventory Management</h4>
                        <p>Track all your inventory items in one place</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-graph-up fs-1"></i>
                        <h4>Analytics</h4>
                        <p>Get insights into your inventory performance</p>
                    </div>
                    <div class="col-md-4">
                        <i class="bi bi-people fs-1"></i>
                        <h4>Team Collaboration</h4>
                        <p>Work together with your team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
